
body{
  	font-family: Arial, Helvetica, sans-serif;
	margin-left: 30px;
	margin-top: 10px;
	margin-right: 30px;
}

h1, h2, h3, h4, h5, h6{
	/*font-family: Verdana, Geneva, sans-serif;*/
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

h1{
	border-bottom: 1px solid #aaaaaa;
}

a{
	color: #6494e0;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	color: #6494e0;
}


.container{
	display: inline-block;
	cursor: pointer;
}

.bar{
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
}


/* The side navigation menu */
.menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #bbb; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.menu a {
    /*padding: 8px 8px 8px 8px;*/
    text-decoration: none;
    font-size: 20px;
    color: #6494e0;
    transition: 0.3s
}

.menu li{
	/*padding: 8px 8px 8px 8px;*/
	color: #555555;
    display: block;
	font-size: 20px;
}

/* When you mouse over the navigation links, change their color */
.menu a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.menu .btnClose {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    padding-left: 50px;
	font-size: 40px;
}

.index li{
	display: block;
}

.index > ul{
	margin-left: 0;
    padding-left: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu a {font-size: 18px;}
}
